@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

    @*<p>
        <a asp-controller="OrderCards" asp-action="Index">Карта Заказа</a>
    </p>*@
    <p>
        <a asp-controller="Projects" asp-action="Index">Проекты</a>
    </p>
    <p>
        <a asp-controller="Employees" asp-action="Index">Сотрудники</a>
    </p>


    <p>
        <a asp-controller="Products" asp-action="Index">Продукция</a>
    </p>

    <p>
        <a asp-controller="Owners" asp-action="Index">Владельцы</a>
    </p>

    <p>
        <a asp-controller="Modules" asp-action="Index">Модули</a>
    </p>


    <p>
        <a asp-controller="Status" asp-action="Index">Статусы</a>
    </p>


    <p>
        <a asp-controller="HomeAdmin" asp-action="Index">Админка</a>
    </p>

    <p>
        <a asp-controller="Contractors" asp-action="Index">Контрагенты</a>
    </p>

    <p>
        <a asp-controller="Departments" asp-action="Index">Отдел</a>
    </p>
</div>
